parameters:
    excludes_analyse:
      - app/Providers
    ignoreErrors:
      - '#json_decode#'
      - '#Possibly invalid array key type array#'
      - '#Call to an undefined method Illuminate#'
    checkMissingIterableValueType: false